@font-face {
  font-family: 'Visuelt Pro';
  src: url("VisueltPro-Medium.eot");
  src: local("VisueltPro-Medium"), url("VisueltPro-Medium.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Medium.woff2") format("woff2"), url("VisueltPro-Medium.woff") format("woff"), url("VisueltPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Visuelt Pro';
  src: url("VisueltPro-Regular.eot");
  src: local("VisueltPro-Regular"), url("VisueltPro-Regular.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Regular.woff2") format("woff2"), url("VisueltPro-Regular.woff") format("woff"), url("VisueltPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Visuelt Pro';
  src: url("VisueltPro-Bold.eot");
  src: local("VisueltPro-Bold"), url("VisueltPro-Bold.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Bold.woff2") format("woff2"), url("VisueltPro-Bold.woff") format("woff"), url("VisueltPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Visuelt Pro';
  src: url("VisueltPro-Light.eot");
  src: local("VisueltPro-Light"), url("VisueltPro-Light.eot?#iefix") format("embedded-opentype"), url("VisueltPro-Light.woff2") format("woff2"), url("VisueltPro-Light.woff") format("woff"), url("VisueltPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #808080;
  font-family: 'Visuelt Pro', sans-serif;
  list-style: none;
}

body {
  background: #f2f2f2;
  padding: 20px 10px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 56px;
  border-radius: 25px 25px 0 0;
  background: #fff;
}

.logo span {
  color: #4754eb;
  font-size: 18px;
  font-weight: 600;
  display: inline;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.menu ul li {
  display: inline-block;
  margin: 0 12px;
  font-size: 18px;
}

.menu ul li a:hover {
  color: #4754eb;
  -webkit-transition: .5s;
  transition: .5s;
}

.active_menu a,
.active_language {
  color: #4754eb;
}

.language button {
  background: none;
  font-weight: 600;
  font-size: 18px;
}

.language {
  margin: 0 40px;
}

.signin a {
  padding: 12px 24px;
  border-radius: 16px;
  background: #4754eb;
  font-size: 18px;
  color: #fff;
}

section {
  padding: 0 56px;
}

/* ----------head section---------- */
.head_section {
  padding: 180px 56px 0px;
  background: url("../images/img_1.png") no-repeat 80% 20%, linear-gradient(41deg, rgba(212, 186, 229, 0.711922) 0%, #fdf6f8 60%);
  background-size: 40%, cover;
}

.main_header h1 {
  font-size: 56px;
  line-height: 1.25;
  color: #000;
}

.header_form {
  margin-top: 50px;
}

.header_input_block {
  background: white;
  display: inline-block;
  border-radius: 16px;
  padding: 8px;
}

.header_input_block input {
  background: none;
  font-size: 18px;
}

.header_input_block input[type="text"] {
  padding: 12px;
}

.header_input_block input[type="submit"] {
  border-radius: 16px;
  background: #fff;
  color: #4754eb;
  padding: 12px 24px;
}

.personal_data {
  width: 354px;
  height: 32px;
  padding: 16px 8px;
  font-size: 14px;
  font-weight: 400;
}

.personal_data_agreement {
  color: #4754eb;
}

.mouse_container {
  width: 233px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  padding-top: 126px;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mouse-img {
  height: 19px;
}

.mouse_text {
  color: #fff;
  padding-left: 10px;
  margin-bottom: 85px;
}

/* ----------preferences section---------- */
.preferences {
  background: linear-gradient(-188deg, #faeaf0 0%, white 58%, #d4bce7 100%);
  font-weight: 500;
}

.preferences_background {
  background: #fff;
  margin-left: -56px;
}

.preferences_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: -32px;
}

.preferences_item {
  max-width: 28%;
  margin-top: 40px;
  margin-left: -16px;
  padding: 28px 0;
  background: #fff;
  font-style: normal;
  font-size: 24px;
}

.prefer_description span {
  display: block;
}

.smile_img {
  width: 56px;
  vertical-align: middle;
}

.prefernces_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prefernces_head span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 12px;
  font-weight: bold;
  color: #000;
}

.prefer_description {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px 24px;
  margin-top: 28px;
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

/* ----------how we work section---------- */
.how_we_work {
  background: url("../images/how_we_w.png") no-repeat 10% 77%, linear-gradient(13deg, #faeaf0 0%, white 58%, #d4bce7 100%);
  background-size: 35%, cover;
}

.header_text h2 {
  font-size: 36px;
  color: #000;
  padding-top: 80px;
}

.how_work_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.path_work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.path_work span {
  font-size: 18px;
  color: #fff;
}

.path_work hr {
  width: 24px;
  margin: 0 16px;
  background: #fff;
  height: 2px;
}

.path_work .first_step {
  color: #4754EB;
}

.how_work_text {
  width: 50%;
  margin-top: 107px;
}

.how_work_discription .how_work_header {
  width: 450px;
}

.how_work_discription span {
  font-size: 18px;
  color: #4754eb;
  margin: 17px 0;
  font-weight: 700;
  display: block;
}

.how_work_header {
  margin-top: 30px;
  font-size: 30px;
}

.how_work_discription p {
  font-size: 18px;
}

.how_work_btn {
  margin-top: 71px;
}

.how_work_btn a {
  padding: 16px 24px;
  background: #4754eb;
  color: #fff;
  font-weight: 700;
  border-radius: 16px;
  display: inline-block;
  margin-bottom: 80px;
}

/* ----------tariffs section---------- */
.tariffs {
  padding-right: 0;
  background: linear-gradient(139deg, white 80%, rgba(239, 226, 243, 0.928075) 90%, rgba(243, 190, 218, 0.804826) 98%);
}

.tariffs_background {
  background: #FFFFFF;
  margin-right: 56px;
  padding-bottom: 88px;
  padding-left: 0;
  padding-right: 0;
}

.tariff_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 40px;
  margin-left: -56px;
}

.tariff_item {
  padding: 20px 22px 24px 24px;
  background: #FAEAF0;
  max-width: 318px;
  border-radius: 24px;
}

.tariff_item_head h3 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.tariff_item_head {
  margin-bottom: 8px;
}

.tariff_price p {
  font-size: 24px;
  font-weight: 700;
  color: #4754EB;
}

.tariff_price span {
  font-size: 24px;
  font-weight: Medium;
}

.tariff_price {
  margin-bottom: 44px;
}

.tariff_offer span {
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-left: 48px;
  margin-bottom: 16px;
  position: relative;
}

.tariff_offer span:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-size: cover;
  left: -48px;
}

.advant:before {
  background: url("../images/yes.png") no-repeat center;
}

.disadvant:before {
  background: url("../images/no.png") no-repeat center;
}

.tariff_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.tariff_btn a {
  padding: 16px 56px;
  background: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 16px;
  color: #4754EB;
  margin-bottom: 24px;
}

/* -------------reviews section-------------- */
.reviews {
  width: 100%;
  background: linear-gradient(195deg, rgba(243, 190, 218, 0.704826) 8%, rgba(239, 226, 243, 0.4) 53%, rgba(208, 201, 242, 0.5) 96%);
  padding-bottom: 80px;
}

.review {
  position: relative;
  border-radius: 16px;
  background: #FAEAF0;
  max-width: 628px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.review_header {
  padding: 36px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_avatar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header_date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review_name {
  font-size: 24px;
  font-weight: bold;
  color: #1A1A1A;
}

.avatar {
  border-radius: 50px;
  vertical-align: middle;
  margin: 0 16px;
}

.review_field {
  padding: 16px 24px;
  font-size: 18px;
}

.review_stars {
  padding: 16px 0;
}

.star {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}

.star:first-child {
  margin-left: 24px;
}

.rev1 {
  margin-top: 96px;
  z-index: 0;
}

.rev2 {
  margin-top: 24px;
  margin-left: 219px;
  z-index: 1;
}

.rev3 {
  top: -432px;
  margin-left: 652px;
  z-index: 2;
}

.rev4 {
  top: -950px;
  margin-left: 325px;
  z-index: 3;
}

.kitten_btn {
  width: 274px;
  padding: 16px 20px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 16px;
  position: relative;
  margin-top: -640px;
  margin-left: 80%;
}

.kitten_btn span {
  color: #4754EB;
  font-weight: bold;
}

.gallery {
  background: linear-gradient(347deg, rgba(243, 190, 218, 0.604826) 8%, rgba(239, 226, 243, 0.4) 53%, rgba(208, 201, 242, 0.5) 96%);
  padding: 0 0 80px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .header_text {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .gallery-wrap {
  width: 90%;
  margin: auto;
  height: 70vh;
}

.gallery .gallery-wrap .autoplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery .gallery-wrap .autoplay .autoplay-img {
  width: 80%;
}

.slick-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70vw;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-prev,
.slick-next {
  font-size: 0;
  height: 36px;
  width: 36px;
  border-radius: 12%;
  position: relative;
  background-color: #4754EB;
  border: none;
}

.draggable .slick-list {
  padding: 0;
}

.slick-prev::after {
  content: "<";
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 2px;
  left: 8px;
  cursor: pointer;
}

.slick-next::after {
  content: ">";
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 2px;
  right: 8px;
  cursor: pointer;
}

/* -----------popup section------------ */
.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_wrap {
  width: 500px;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(13deg, #faeaf0 0%, white 88%, #d8c5e8 100%);
  position: relative;
}

.popup_form label,
.popup_form input {
  display: block;
  color: #000;
}

.popup_wrap h2 {
  text-align: center;
  font-size: 30px;
  color: #000;
}

.popup_form label {
  font-size: 20px;
  margin-top: 15px;
}

.popup_form input {
  border: 1px solid #000;
  width: 100%;
  margin-top: 10px;
  font-size: 19px;
  padding: 10px 15px;
  border-radius: 20px;
}

.popup_form input:nth-last-child(3) {
  margin-bottom: 45px;
}

.popup_form input[type="submit"] {
  width: 48%;
  margin: 0 auto;
  background: #4754EB;
  color: #fff;
  border: 0;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline;
}

.popup_form input[type="submit"]:hover {
  background: #242b78;
  color: #808080;
}

.popup_form input[type="reset"] {
  width: 48%;
  margin: 0 auto;
  background: #fff;
  color: #000;
  border: 0;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline;
  margin-left: 2%;
}

.popup_form input[type="reset"]:hover {
  background: #979797;
  color: #efe9e9;
}

.popup_close_btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.popup_close_btn span {
  width: 25px;
  height: 3px;
  display: block;
  border-radius: 2px;
  background: #000;
}

.popup_close_btn span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup_close_btn span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -3px;
}

.active_popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1420px) {
  .tariff_item {
    margin-bottom: 12px;
  }
  .preferences_item {
    padding: 0;
  }
  .preferences_item .prefernces_head span {
    font-size: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 934px) {
  .preferences_item {
    max-width: 90%;
  }
  .preferences_item .prefernces_head span {
    font-size: 16px;
  }
  .preferences_item .prefer_description {
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .slick-list {
    width: 60vw;
  }
  .autoplay-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .slick-prev,
  .slick-next {
    font-size: 0;
    height: 18px;
    width: 18px;
  }
  .slick-prev::after {
    font-size: 18px;
    left: 3px;
    top: 0px;
  }
  .slick-next::after {
    font-size: 18px;
    right: 3px;
    top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */